// Global
aside.widget {
	margin-bottom: 2rem;
	& > ul {
		background: $gray-100;
		box-shadow: $box-shadow-sm;
		padding: $spacer * 0.5;
		padding-left: 40px;
		padding-right: 22px;
	}
	li {
		margin: 0.5rem auto;
	}
}

// WooCommerce
.widget.woocommerce {
	.product-categories {
		list-style: none;
		padding: $spacer * 1;
	}
}

#shop-sidebar {
	ul {
		@include list-unstyled();
		li {
			padding-left: 1rem;
		}
	}
}

// Recent posts
.widget span.post-date {
	font-size: 0.75rem;
	padding: 0.1rem;
	color: $gray-600;
	display: block;
}
