// Use this file to overwrite the basic Bootstrap variables and add your own variables
// To overwrite a Bootstrap variable you don´t have to touch the Bootstrap folder.
// Just copy a variable from /sass/bootstrap/_variables.scss, paste it here and edit the value.
// As example you find one of the most important Bootstrap variable below: $brand-primary.
// Thats the ugly Bootstrap blue used for all the links, primary buttons etc.
// Just add your color code here, compile the theme.scss file to change this color everywhere
//
// Color system
//
// Witchcraft Theme variables
// Color palette
$primary: #ca26a7;
//$primary: #25591f;
$secondary: #357f2c;
$white: rgb(250, 250, 250);

// Global variables
$enable-shadows: true;
$enable-responsive-font-sizes: true;
$grid-breakpoints: (
	xs: 0,
	sm: 576px,
	md: 768px,
	lg: 992px,
	xl: 1300px,
) !default;
$container-max-widths: (
	sm: 540px,
	md: 720px,
	lg: 960px,
	xl: 1240px,
) !default;

$text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.5);
$text-shadow-lg: 2px 2px 2px rgba(0, 0, 0, 0.5);

// WooCommerce
$woocommerce: $primary;
$green: $primary;

// Body
$body-bg: #e9ecef; // gray-200

// Typography;
$font-family-cursive: "Comfortaa", cursive;
$headings-font-family: $font-family-cursive;
