.witch-article {
	.entry-header {
		.entry-meta {
			color: $primary;
			letter-spacing: $letter-spacing-lg;
		}
	}
	.card-body {
		img {
			max-height: 200px;
			object-fit: cover;
		}
	}
	.entry-footer {
		margin-top: -0.75rem;
		.cat-links,
		.cat-links a {
			color: $secondary;
			font-size: 0.75rem;
		}
	}
}
