// Container-fluid with 80% width
.container-fluid.container-shop {
	@include media-breakpoint-up(xl) {
		width: 80%;
	}
}

// Use our color palette
.woocommerce div.product,
.woocommerce ul.witch-products {
	.product_title {
		font-weight: bold;
		color: $primary;
	}
	.price,
	.stock,
	.discount td {
		color: $gray-700 !important;
		font-weight: bold !important;
		font-family: $font-family-cursive;
		letter-spacing: $letter-spacing-lg;
	}
	.onsale {
		background-color: $primary;
		color: color-contrast($primary);
	}
	li.product {
		.woocommerce-loop-category__title,
		.woocommerce-loop-product__title,
		h3 {
			font-weight: bold;
		}
	}
}

.woocommerce-input-wrapper {
	.description {
		background: $secondary;

		&::before {
			border-color: $secondary transparent transparent transparent;
		}
	}
}

.woocommerce-info {
	border-top-color: $secondary;

	&::before {
		color: $secondary;
	}
}

.woocommerce-message {
	border-top-color: $secondary;

	&::before {
		color: $secondary;
	}
}

// Widget
.widget.woocommerce {
	& > ul {
		background: $gray-100;
		box-shadow: $box-shadow-sm;
	}
	.product-categories {
		list-style: none;
		padding: $spacer * 1;
	}
}

// Pagination
.woocommerce-pagination {
	display: flex;
	margin-top: 3rem;

	ul.page-numbers {
		@include list-unstyled();
		@include border-radius();
		display: flex !important;
		border: 0 !important;
		margin: auto !important;

		li {
			border-right: 0 !important;
			&:first-child {
				.page-numbers {
					margin-left: 0;
					@include border-left-radius($border-radius);
				}
			}
			&:last-child {
				.page-numbers {
					@include border-right-radius($border-radius);
				}
			}

			.page-numbers {
				position: relative;
				display: block;
				padding: $pagination-padding-y $pagination-padding-x;
				margin-left: -$pagination-border-width;
				line-height: $pagination-line-height;
				color: $pagination-color;
				text-decoration: if($link-decoration == none, null, none);
				background-color: $pagination-bg;
				border: $pagination-border-width solid $pagination-border-color;

				&.current {
					z-index: 3;
					color: $pagination-active-color;
					background-color: $pagination-active-bg;
					border-color: $pagination-active-border-color;
				}
			}
		}
	}
}

// My Account
#customer_login {
	span.password-input {
		width: 100%;
	}
	.u-column1,
	.u-column2 {
		.woocommerce-form {
			padding: $spacer * 1.5;
			box-shadow: $box-shadow;
			.form-row {
				padding: 0;
			}
			#reg_email {
				margin-bottom: 1rem;
			}
		}
	}
}

// The Loop
.witch-products {
	list-style: none;
	width: 100%;
	padding-left: 0;
	margin-left: 0;

	h2 {
		font-size: 1rem;
		@include media-breakpoint-up(md) {
			font-size: 1.25rem;
		}
	}

	.product {
		display: flex;
		flex-direction: column;
		justify-content: space-between;
		word-break: break-word;
		img {
			padding-bottom: 0.5rem;
		}
		.add-to-cart-container {
			display: none;
		}
		a.woocommerce-loop-product__link {
			text-decoration: underline transparent;
			height: 100%;
			display: flex;
			flex-direction: column;
			&:hover > * {
				text-decoration: underline $primary;
			}
			img {
				box-shadow: $box-shadow-sm;
				padding: 0;
				margin: 1rem auto;
			}
			h2 {
				padding: 0 5%;
			}
			span.price {
				text-decoration: underline transparent;
				color: $gray-800;
				font-weight: bold;
				font-family: $font-family-cursive;
				letter-spacing: $letter-spacing-lg;
				margin-bottom: 1rem;
			}
		}
	}
}

// WooCommerce ordering padding
.woocommerce-ordering {
	padding-right: 1rem;
}
