// Use this file to overwrite the basic Bootstrap variables and add your own variables
// To overwrite a Bootstrap variable you don´t have to touch the Bootstrap folder.
// Just copy a variable from /sass/bootstrap/_variables.scss, paste it here and edit the value.
// As example you find one of the most important Bootstrap variable below: $brand-primary.
// Thats the ugly Bootstrap blue used for all the links, primary buttons etc.
// Just add your color code here, compile the theme.scss file to change this color everywhere
//
// Color system
//
// Witchcraft Theme variables
// Color palette
$primary: #25591f;
$secondary: #19270d;
$tertiary: #818c3c;
$quaternary: #72601b;
$quinary: #593a0e;

// Global variables
$enable-shadows: true;
$enable-responsive-font-sizes: true;

$text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.5);
$text-shadow-lg: 2px 2px 2px rgba(0, 0, 0, 0.5);

// Body
$body-bg: #eee;

// Typography;
$font-family-cursive: "Comfortaa", cursive;
$headings-font-family: $font-family-cursive;
//$font-size-base: 1rem;
// $h1-font-size: $font-size-base * 2.1;
// $h2-font-size: $font-size-base * 1.6;
// $h3-font-size: $font-size-base * 1.5;
// $h4-font-size: $font-size-base * 1.25;
// $h5-font-size: $font-size-base * 1.1;
