// Google Fonts
@import url("https://fonts.googleapis.com/css2?family=Comfortaa:wght@400;500;700");

// Functions
@function set-text-color($color) {
	@if (lightness($color) > 50) {
		@return $gray-900;
	} @else {
		@return $gray-100;
	}
}

// Utility classes
.text-shadow {
	text-shadow: $text-shadow;
}
.text-shadow-lg {
	text-shadow: $text-shadow-lg;
}

$utility-colors: (
	primary: $primary,
	secondary: $secondary,
	light: $gray-100,
	dark: $gray-900,
);
@each $name, $color in $utility-colors {
	.bg-#{$name} {
		background-color: $color;
		color: set-text-color($color);
	}
}

// Global
h1,
h2,
h3,
h4,
h5,
h6 {
	font-weight: bold;
}

// Blocks
#carouselHeroImage {
	.carousel-item {
		height: 50vh;
		@media only screen and (max-height: 800px) {
			height: 70vh;
		}
		background: rgba($black, 0.2);
		&::before {
			content: "";
			z-index: -1;
			position: absolute;
			top: 0px;
			left: 0px;
			width: 100%;
			height: 100%;
			background: url("../img/hero.png") 50% 30% / cover no-repeat;
		}
		& .carousel-caption {
			position: relative;
			top: 0px;
			right: 0px;
			left: 0px;
			right: 0px;
			color: #fff;
		}
		h1 {
			font-size: Min(4rem, calc(2.3rem + 1.5vw));
		}
		p {
			font-size: Min(2rem, calc(1rem + 0.5vh));
			letter-spacing: $letter-spacing-lg;
			font-weight: 300;
		}
		button {
			font-size: calc(0.8rem + 0.5vw);
		}
	}
}

.witch-feature-container {
	img {
		object-fit: cover;
	}
	.witch-feature-title,
	p {
		margin-bottom: $container-mb;
	}
}
